#! /bin/sh

# This is the config file for Martin Vaeth's firewall script.
# It is sourced by the latter.
# Please modify to your needs before you use the firewall script.

# Some things may become clearer if you look at the default


# In order to configure, one might need the active sshd port "${SSHPORT}":
# This port is read from /etc/ssh/sshd_config (default: "ssh")

SSHPORT="`sed -n -e 's/^ *Port *\([0-9]*\) *$/\1/p' /etc/ssh/sshd_config`" \
&& [ -n "${SSHPORT}" ] || SSHPORT='ssh'

# We setup an example how ${SSHPORT} can be reached from outside after
# a corresponding knocking sequence was provided:
# If you had used http://www.zeroflux.org/knock/
# you might want instead to use instead its config file.
# If we cannot read this file, we use an example sequence:
test -r /etc/knockd.conf \
&& KNOCKSEQ="`sed -n -e '/sequence/{s/[^0-9,]//g;s/,/ /g;p}' '/etc/knockd.conf'`" \
&& [ -n "${KNOCKSEQ}" ] && Push KNOCKSEQ "${SSHPORT}" \
|| Push KNOCKSEQ 8000 4000 3000 1000 6000 9000 2000 "${SSHPORT}"

# Drop these destinations for all except for "trusted interfaces" from outside
# as an anti-spoofing measurement, and allow always output:

if test -e /etc/eth-trust
then	Push -c LOCALNETSIN '192.168.0.0/16'
else	Push -c LOCALNETSIN
	# We read the trusted port from Gentoo's configuration:
	set +f
	for i in /etc/conf.d/*net*
	do	test -r "${i}" || continue
		j=`. "${i}" && printf '%s' "${ifconfig_eth0}"` \
		&& j="${j%% *}" && j="${j%%
*}" &&		case "${j}" in
		''|*[!0-9.]*)
			:
		;;
		*)	Push -c LOCALNETSIN "${j}"
			break
		;;
		esac
	done
fi


# Who may phone outside?

Push -c OUTONLYGID 0 101 250 502 503 667 668 675 676 677 1001

# To LOCALNETSOUT everybody may "phone":

Push -c LOCALNETSOUT '192.168.0.0/16'

# Tacitly drop the following protocols:
Push -c DROP_PROTO 'igmp'

# Never reject but drop those ports which are typically called by
# learn-resistant programs (which will not react on reject anyway).
# Moreover, these addresses are locked out for some period.
# This means that you should not include ports here which you use as a
# knocking sequence since otherwise the knocking host can get locked out
# before he can complete the sequence.

Push -c DROP_NOT_REJECT 135 137:139 445

# Reject/Drop without logging those ports which are typically called
# by learn-resistant programs (this saves a lot of log space)

Push -c REJECT_TACITLY 135 137:139 445 1024:1031 5000


# Allow for everybody:

Push -c ALLOWTCP 4662:4663	# cvspserver rsync 4662:4663
Push -c ALLOWUDP		# cvspserver

# Allow ipsec for everybody:

if test -r /etc/dhcp-only
then	Push ALLOWUDP isakmp
	Push ALLOWPROTOCOL esp ah
fi

# Allow for "trusted interfaces" in addition:

Push TRUSTEDTCP "${SSHPORT}"

# The above "trusted interfaces" (you may use the "+" wildcard like "eth+"):

! test -e /etc/eth-trust || Push TRUSTEDIF 'eth+'

# Do we want routing?

if test -e /etc/routing
then	ROUTING=:
	Push SYSCTLON  'ppp*' 'ippp*' 'dsl*'
	Push SYSCTLOFF 'ppp*' 'ippp*' 'dsl*'
else	ROUTING=false
fi

# We do not want ip6tables:

IPT6=false
