[Unit]
Description=The firewall (iptables) service from firewall-mv
After=firewall-close.service syslog.target network.target auditd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/firewall on
ExecStop=/sbin/firewall off

[Install]
WantedBy=multi-user.target
Also=firewall-close.service
