[Unit]
Description=firewall-mv closes all local firewalls
DefaultDependencies=no
After=systemd-modules-load.service
Before=network.target
Conflicts=firewall.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/firewall close

[Install]
WantedBy=sysinit.target
