# SPDX-License-Identifier: BSD-3-Clause
[Unit]
Description=firewall-mv (iptables)
After=firewall-close.service syslog.target network.target auditd.service systemd-modules-load.service
Conflicts=firewall-close.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/firewall on
ExecStop=/sbin/firewall close

[Install]
WantedBy=network-online.target.wants
Also=firewall-close.service
